<!DOCTYPE html>
<html>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <body>
    
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="font-size:25px;color:white">VoteIt</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/Polls">Public Polls</a></li>
          <li><a href="/">Log Out</a></li>
        </ul>
      </div>
    </nav>
 
    <div class="main">
        
      <h1>Dashboard</h1>
      <p>Click on the NewPoll button to create a new poll</p><br><br>
      <a href="/newPoll"><button id="myBtn" class="btn">NewPoll</button></a>
      <a href="/myPolls"><button id="myBttn" class="btn">MyPolls</button></a>

    </div>
  </body>
</html>
