body {

	background-image: url('../images/mountain.jpg');
  	font: 'monaco';
  	color: white;
}

a {
  	color: white;
  	/*font-size: 35px;*/
}

.navbar{

	background:black;
	font-size: 17px;
}

li > a{
	color: white;
}

h1{

	margin: auto;
	position: relative;
	top:40%;
	text-align: center;
	font-size: 35px;
	color:black;
}

.sign{

	position: relative;
	top: 50%;
	margin: auto;
	width: 750px;
	height: 220px;
	background:transparent;
	padding: 10px;
	transform: translateY(+40%);
	color:black;
	border-radius: 10px;
	border: solid black ;

}